.box{
	display:grid;
	grid-template-rows:50px 100px 150px 200px;
	box-shadow:1px 1px 1px 1px grey;
    max-width:380px;
    margin:0 auto;
	height:460px;
	border-radius:10px;
    text-align:center;
    color:#001b36;
}
section{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr;
}
.body b{
    font-size:30px;
}
section .yes{
    grid-column:3;
    font-size: 10px;
    padding-top: 9px;
}
.body{
	background-color:#001b36;
	font-size:8px;
    color:white;
    padding:15px;
}
.info{
	padding:10px;
    background-color:rgb(230, 228, 228);
    color:#0b4986;
}
.body p{
    padding-bottom:10px;
}
.body img{
    padding-top:10px;
    margin:0 auto;
}
section .no{
    font-size: 8.3px;
    text-align: center;
}
.head img{
    padding-left: 10px;
}
.info b{
    font-size:8px;
}
.barcode img{
    padding-top:22px;
    padding-left:30px;
}
.barcode{
    display:grid;
    grid-template-rows:120px 20px;
}
.barcode p{
    grid-row:2;
    margin:0 auto;
    font-size:10px;
}