.box{
	display:grid;
	grid-template-rows:50px 100px 150px 200px;
	box-shadow:5px 5px 5px 5px lightgrey;
	width:400px;
	height:500px;
	border-radius:10px;
	text-align:center;
}
section{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 1fr;
}
.body b{
	font-size:30px;
}
.head p{
	grid-column:3;
}
.body{
	background-color:darkblue;
	font-size:9px;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
}
.info{
	padding:10px;
	background-color:lightgrey;
}
