body{
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
    max-width: 720px;
    padding: 5px;
    background-image: url(images/sunset.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: overlay;
}
nav {
	margin: 0 auto;
	background: linear-gradient(0deg, rgba(34,193,195,0.4) 0%, rgba(242,255,254,0.4) 100%);
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
}
header{
	background-image: url("images/Climate-change-1030x579.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    height:100px;
    border-radius: 10px 10px 0 0;
}
header img{
	width:60px;
    float:left;
}
.navigation {
    padding: 0;
    margin-top:-10px;
    border-radius: 0 0 10px 10px;
}
.navigation li:first-child {
    display: block;
    border-radius: 0 0 10px 10px;
}
.navigation li:first-child:hover{
    border-radius: 0 0 10px 10px;
}
.fix:hover{
    border-radius: 0 0 0 10px;
}
.fix2:hover{
    border-radius: 0 0 10px 10px;
}
.fix3:hover{
    border-radius: 0 0 10px 10px;
}
.navigation li {
	display: none;
}
.navigation a {
    display: block;
    padding: 10px;
	text-align: left;
	text-decoration: none;
	color: black;
    font-weight: 700;
}
.navigation a:hover:not(.active) {
    background: linear-gradient(0deg, rgba(34,193,195,0.4) 100%, rgba(242,255,254,0.4) 100%);
}
.responsive li{
	display: block;
}
header h1, header h3 {
	margin:0;
}
h1{
	font-size: 30px;
}
#new{
	background-color:orange;
    border:1px solid black;
    text-align:center;
	display: none;
	margin:0;
}
#new strong{
	font-size:20px;
}
#new b{
	font-size: 35px;
}
#new p{
	margin:0;
}
#container picture{
    grid-row: 1/-1;
    grid-column: 1/-1;
    margin-bottom: 10px;
    max-width: 100%;
}
#container picture img{
    width: 100%;
    border-radius:10px;
}
#container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    max-height: 100%;
}
#container h2{
    grid-row: 1;
    grid-column: 1/-1;
    z-index: 1;
    text-align: center;
}
#summary{
    margin: 30px;
    padding:20px;
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 2/-1;
    backdrop-filter:blur(20px);
    border-radius:10px;
    text-align:left;
    line-height: 25px;
}
.active{
    background-color: rgba(255, 0, 0, .4);
}
#forcast-container{
    display:grid;
    grid-gap: 20px;
    background-color: rgba(209, 209, 209, 0.2);
    padding:20px;
    margin: 10px;
    border-radius:10px;
}
#forcast-container div{
    background-color: rgba(209, 209, 209, 0.2);
    border-radius:10px;
    width: 100%;
    height: 250px;
    justify-self: center;
    text-align: center;
    line-height: 27px;
}
#forcast-container div #strong{
    font-size:100px;
    margin: 0;
    padding-top:10px;

}
#forcast-container div p{
    padding-bottom: 10px;
}
#article img{
    max-width: 600px;
    width:100%;
    border-radius: 10px;
}
#article{
    background-color: rgba(209, 209, 209, 0.2);
    border-radius: 10px;
    margin:10px;
    padding:10px;
}
iframe{
    border-radius: 10px;
    height: 300px;
    width: 100%;
}
#contact{
    display: grid;
    background: rgba(209, 209, 209, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
#legal{
    text-align: center;
    background-image: linear-gradient(0deg, rgba(34,193,195,0.4) 0%, rgba(242,255,254,0.4) 100%);
    border-radius: 10px;
    padding: 10px;
}
#contact b{
    font-size: 25px;
}
::-webkit-scrollbar {
    width: 8px;
    overflow: overlay;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(41, 40, 40, .6);; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(41, 40, 40, 1);; 
  }
@media only screen and (min-width: 620px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }
    .fix2:hover{
        border-radius: 0 0 10px 0;
    }
	body{
		max-width: 1000px;
    }
    header{
        height: 200px;
    }
    header h1{
        font-size: 50px;
        padding:10px;
    }
    header img{
        width:140px;
    }
    header h3{
        margin-left:60px;
    }
    #summary{
        grid-row: 2/3;
        grid-column: 1;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 30px;
    }
    #container{
        grid-template-rows: 80px 1fr 200px;
        margin: 10px;
        max-height: 100%;
        max-width: fit-content;
    }
    #forcast-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr 1fr;
        max-width: 1000px;
    }
    #forcast-container h2{
        grid-row: 1;
        grid-column: 1/-1;
        text-align: center;
    }
    #forcast-container div{
        padding:0px;
    }
    #day1{
        grid-column: 1/3;
    }
    #day2{
        grid-column: 3/5;
    }
    #day3{
        grid-column: 5/7;
    }
    #day4{
        grid-column: 1/4;
        grid-row: 3;
    }
    #day5{
        grid-column: 4/7;
        grid-row: 3;
    }
    #article img{
        float: right;
        width:350px;
    }
    #contact{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 50px 1fr;
    }
    #contact h2{
        grid-column: 1/-1;
        text-align: center;
    }
    #contact iframe{
        grid-row: 2/-1;
        grid-column: 1/3;
    }
#contact p{
    margin: 0 auto;
}
    .clear{
        clear: both;
    }
}
@media only screen and (min-width: 1000px){
	body{
		max-width: 2000px;
    }
    .fix2:hover{
        border-radius: 0 0 10px 0;
    }
	main{
		max-width: 1500px;
		margin:0 auto;
		text-align:left;
	}
	main h1{
		font-size: 55px;
		text-align: center;
	}
	header h3{
		text-align: center;
	}
	header img{
		width:100px;
	}
	header{
        height:140px;
        text-align:center;
        margin: 0;
    }
    #container{
        max-width: 100%;
    }
    picture img{
        height: 100%;
    }
    #summary{
        grid-row: 2;
    }
    #forcast-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr;
        max-width: 100%;
    }
    #day1{
        grid-column: 1;
    }
    #day2{
        grid-column: 2;
    }
    #day3{
        grid-column: 3;
    }
    #day4{
        grid-column: 4;
        grid-row: 2;
    }
    #day5{
        grid-column: 5;
        grid-row: 2;
    }
    #forcast-container div{
        margin: 5px;
    }
    #forcast-container h2{
        padding-top:10px;
    }
}