body{
    font-family: Verdana;
}
img{
    width: 50px;
    border-radius: 50px;
}
.head{
    background-color: lightslategrey;
    padding: 0px;
    justify-content: left;
}
tbody tr:nth-child(even){
    background-color: lightgrey;
}
tbody tr:hover{
    background-color: lightblue;
}
td{
    padding: 15px;
}
table{
    border-collapse: collapse;
}
.active{
    background-color: lightgreen;
    padding: 8px;
    border-radius: 20px;
}
.waiting{
    background-color: lightyellow;
    padding: 8px;
    border-radius: 20px;
}
.active i{
    color: green;
    font-size: 12px;
}
.waiting i{
    color: orange;
    font-size: 12px;
}
textarea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#extra{
    grid-column: 1/-1;
}