
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/Template.css">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="stylesheet" href="normalize.css">
        <title>Diverse Weather</title>
    </head>
    <body>
        <header>
            <img id="icon" src="images/Icon.jpeg">
            <img id="background" src="Images/banner.jpeg">
            <h1>Diverse Weather</h1>
            <h3>Do or do not there is not try</h3>
        </header>
        <nav>
            <ul class="navigation" >
                <li><a class="ham fix3" href="#">🍔&#9776 Menu</a></li>
                <li><a class="fix" href="#">Home</a></li>
                <li><a class="active" href="#">Preston</a></li>
                <li><a href="#">Soda Springs</a></li>
                <li><a href="#">Fish</a></li>
                <li><a href="stormcenter.html">Storm Center</a></li>
                <li><a class="fix2" href="gallery-8.html">Gallery</a></li>
            </ul>
        </nav>
        <footer id="legal">
            <p class="legal">&copy; <span id="copyrightyear"></span> | Isaiah R. Halsey  | Idaho | <a href="https://www.byui.edu/online">BYUI Online Learning</a></p>
            <p class="highlight">Last Updated: <span id="lastupdated"></span></p>
            <p id="today"></p>
        </footer>
        <br class="clear">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script></body>
        <script>
            WebFont.load({
                google: {
                families: [
                    'Roboto'
                ]
                }
            });
        
    </script>
    </body>
</html>