.box{
    display: grid;
    gap: 20px;
}
section{
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background: rgba(173, 216, 230, 0.2);
}
section h2{
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 35px;
}
section div:nth-child(2){
    background: rgba(14, 236, 236, 0.3);
}
section div:nth-child(3){
    background: rgba(14, 236, 236, 0.3);
}
div h3{
    margin-top: 0;
    padding-top: 10px;
    font-size: 23px;
    text-decoration: underline;
}
.city{
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(0deg, rgba(195, 34, 34, 0.4) 0%, rgba(177, 65, 37, 0.4) 100%);
}
section div p{
    line-height: 50px;
    margin-bottom: 0;
    font-size: 17px;
}
section img{
    width: 100%;
    border-radius: 0 0 10px 10px;
}
body #legal{
    margin-top: 20px;
    margin-bottom: -10px;
}
@media only screen and (min-width: 800px){
    .box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr;
        height: 320px;
    }
    section div:nth-child(2),section div:nth-child(3){
        grid-row: 1/3;
        padding-top: 50px;
    }
    section div:nth-child(2){
        border-radius: 10px 0 0 10px;
    }
    .city{
        border-radius: 0 10px 0 0;
    }
    section img{
        border-radius: 0 0 10px 0;
        height: 100%;
    }
    #move1 , #sec1 img{
        grid-column: 3;
    }
    #move2 , #sec2 img{
        grid-column: 1;
    }
    #move2{
        grid-row: 1;
        border-radius: 10px 0 0 0;
    }
    #sec2 img{
        border-radius: 0 0 0 10px;
    }
    #sec2 div:nth-child(2){
        border-radius: 0;
    }
    #sec2 div:nth-child(3){
        border-radius: 0 10px 10px 0;
    }
    #move3 , #sec3 img{
        grid-column: 3;
    }
}
@media only screen and (min-width: 1500px){
    .box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    section{
        display: block;
        margin-top: 120px;
        margin-bottom: 120px;
        height: unset;
    }
    section img{
        height: unset;
        border-radius: 0 0 10px 10px;
    }
    #sec2 img{
        border-radius: 0 0 10px 10px;
    }
    #sec2 div:nth-child(3){
        border-radius: 0;
    }
    .city{
        border-radius: 10px 10px 0 0;
    }
    section div:nth-child(2){
        border-radius: 0;
    }
}