#weatherType, #currentTemp{
    text-align: center;
}
img{
    border-radius: 12px 12px 12px 12px;
    width: 350px;
    margin-bottom: 0;
    height: 100%;
    grid-row: 1/-1;
    box-shadow: 1px 1px 5px blue;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 100px 100px 200px;
}
#box1{
    height: 100%;
    grid-row: 1/-1;
    grid-column: 1;
}
h2 {
  grid-row: 3;
  grid-column: 1;  
}
p {
    color: #D4C1E7;
    padding-left: 15px;
}
p:hover {
    color: black;
}

p{
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
}
#fivedays{
    border-radius: 0 0 12px 12px;
    width: 350px;
    margin-top: 0;
    grid-row: 5;
    grid-column: 1;
    background-color: white;
}