body{
	margin:0 auto;
	margin:0 auto;
	font-family: 'Roboto', sans-serif;
	max-width: 520px;
    padding:5px;
    background-color: lightblue;
    backdrop-filter: blur(50px);
}
nav {
	margin: 0 auto;
	background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(242,255,254,1) 100%);
}
header{
	background-image: url("Climate-change-1030x579.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
header img{
	width:60px;
	float:left;
}
.navigation {
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.navigation a:hover {
	background-image: linear-gradient(0deg, rgba(34,193,195,1) 70%, rgba(242,255,254,1) 100%);
}
.responsive li{
	display: block;
}
header h1, header h3 {
	margin:0;
}
h1{
	font-size: 30px;
}
#new{
	background-color:orange;
	border:1px solid black;
	text-align: center;
	display: none;
	margin:0;
}
#new strong{
	font-size:30px;
}
#new b{
	font-size: 35px;
}
#new p{
	margin:0;
}
#hero{
    width:100%;
    height:460px;
    grid-column: 1/-1;
    grid-row: 1/-1;
}
#container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 153px 153px 153px;
    height:460px;
}
#summary{
    grid-column: 1;
    grid-row: 1/3;
    backdrop-filter:blur(8px);
    margin-left:40px;
    margin-right:40px;
    margin-top:30px;
    margin-bottom: 60px;
    border-radius:10px;
    text-align:left;
    line-height: 25px;
    padding:5px;
}
@media only screen and (min-width: 520px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	body{
		max-width: 770px;
	}
}
@media only screen and (min-width: 800px){
	body{
		max-width: 2000px;
	}
	main, footer{
		width: 800px;
		margin:0 auto;
		text-align:center;
	}
	h1{
		font-size: 55px;
		text-align: center;
	}
	header h3{
		text-align: center;
	}
	header img{
		width:100px;
	}
	header{
		height:140px;
	}
}