body{
    padding: 30px;
}
img{
    width: 80%;
    border-radius: 10px;
    justify-self: center;
}
section{
    text-align: center;
}
#img2{
    grid-column: 1;
    grid-row: 1;
}
#section2{
    grid-column: 2;
    grid-row: 1;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    background-image: linear-gradient(0deg, rgba(34,193,195,0.3) 0%, rgba(242,255,254,0.4) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 1001px;
    margin: 0 auto;
}
p{
    margin-top: 0;
}
section i{
    font-size: 12px;
    margin-bottom: 10px;
}
h2{
    margin-bottom: 0;
    font-size: 30px;
    color: rgb(34, 77, 195);    
}
@media only screen and (max-width: 759px){
    #img2{
        grid-column: 1;
        grid-row: 2;
    }
    #section2{
        grid-column: 1;
        grid-row: 1;
    }
}
@media only screen and (min-width: 760px) and (max-width: 999px){
    img{
        height: 100%;
    }
    nav .active{
        border-radius: 0px 0px 0px 10px;
    }
    div:nth-child(2) img{
        grid-column: 1;
        grid-row: 1;
    }
    div:nth-child(2) section{
        grid-column: 2;
    }
}
@media only screen and (min-width: 1000px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    div{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: auto;
        height: min-content;
    }
    #img2{
        grid-column: 1;
        grid-row: 2;
    }
    #section2{
        grid-column: 1;
        grid-row: 1;
    }
    img{
        width: 95%;
    }
    body{
        min-height: 800px;
    }
    h2{
        font-size: 35px;
    }
    p{
        line-height: 40px;
    }
    nav .active{
        border-radius: 0px 0px 0px 10px;
    }
}